.album-image {
    float: left;
    width: 20em;
    margin: 1em 1em;
}

.album-image a img {
    height: 12em !important;
    width: 20em;
}

.modal {
    margin-top: 2em;
}

.modal-content {
    width: 86em;
    margin-left: -20em;
}

.modal-dialog .modal-content img {
    height: 45em;
    margin-left: .4em;
    width: 85em;
    margin-top: .4em;
    margin-bottom: .4em;
}

.caption {
    overflow: hidden;
    max-height: 10em;
}

.album-thumbnail {
    float: left;
    width: 20em;
    margin: 1em;
}

.album-thumbnail img {
    height: 12em !important;
    width: 20em;
}

.album-thumbnail .caption {
    overflow: hidden;
    max-height: 10em;
}

.caption h3 {
    margin: 0;
}

.calendar-icon {
    color: #333;
    margin-top: -25px;
}

.thumbnail:hover .caption a span.calendar-icon {
    color: #e54d36;
}