<div class="card mb-4">
    <div class="card-block">
        {% if event.start %}
            <div class="date-icon">
                <div class="date-month">{{ event.start|date:"M" }}</div>
                <div class="date-day bg-primary">{{ event.start.date.day }}</div>
            </div>
        {% endif %}
        {% if event.start %}
            {% if event.whole_day_event %}
                <strong>Date:</strong>
                <span itemprop="startDate">{{ event.start.date }}</span><br/>
            {% else %}
                <strong>Start Time:</strong>
                <span itemprop="startDate">{{ event.start }}</span><br/>
            {% endif %}
        {% endif %}
        {% if event.end %}
            <strong>End Time:</strong>
            <span itemprop="endDate">{{ event.end }}</span>
            <br/>
        {% endif %}
        <strong>Venue:</strong> <span itemprop="location">{{ event.venue }}</span><br/>
        {% if event.organizer %}
            <strong>Organizer:</strong> <span itemprop="organizer">{{ event.organizer }}</span><br/>
        {% endif %}
        <p class="mt-2" itemprop="description">
            {{ event.description|safe }}
        </p>
    </div>
</div>