{% extends '_base.html' %}
{% load staticfiles %}

{% block title %} {{ event }} {% endblock %}

{% block extrahead %}
    <link href="{% static "event/events.css" %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block extrabody %}
    {% if event.location %}
        <script src="https://maps.googleapis.com/maps/api/js?v=3&sensor=true"></script>
        <script>
          var map;
          function initialize() {
            var myLatlng = new google.maps.LatLng({{ event.location }});
            var mapOptions = {
              zoom: 15,
              center: myLatlng
            };

            map = new google.maps.Map(document.getElementById('map-canvas'),
              mapOptions);


            var infowindow = new google.maps.InfoWindow({
              content: "{{ event.venue|linebreaks }}"
            });

            var marker = new google.maps.Marker({
              position: myLatlng,
              map: map,
              title: "{{ event.venue|linebreaks }}"
            });
            google.maps.event.addListener(marker, 'click', function () {
              infowindow.open(map, marker);
            });
          }
          google.maps.event.addDomListener(window, 'load', initialize);
        </script>
    {% endif %}
{% endblock %}
{% block content_title %}{{ event }} {% endblock %}
{% block content %}
    <div itemscope itemtype="http://schema.org/Event">

        {% if event.image %}
            <img itemprop="image" class="img-fluid" src="{{ event.image.url }}"/>
        {% endif %}

        {% include 'event/_event_card.html' %}

        {% if event.location %}
            <h3>Map:</h3>
        {% endif %}

        <div id="map-canvas"></div>
    </div>

{% endblock %}
